name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    uses: SylphxAI/.github/.github/workflows/publish-npm.yml@main
    with:
      bun-version: '1.3.1'
    secrets: inherit
